* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #efefef7d;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
ul,
li,
label,
span,
input,
button p {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
h3 {
  font-size: 25px;
  font-weight: 500;
}
.message h2 {
  margin: 5px 0px 15px;
}
#first {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
.flex {
  display: flex;
}

.image {
  width: 30%;
}

.image img {
  width: 100%;
}

.message {
  width: 70%;
  padding: 32px 32px 0px 32px;
}
.text-body {
  margin-top: 40px;
}

.text-body p {
  line-height: 26px;
  color: #000000;
  font-size: 15px;
  margin-bottom: 15px;
}
.sign {
  margin-top: 30px;
}
.sign img {
  width: 100%;
  max-width: 132px;
}
.sign h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}
hr {
  margin: 25px 0px;
  border: 1px solid #ada4a4;
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 324px;
}

.footer li {
  display: flex;
  align-items: center;
  color: #1c75ba;
  font-size: 18px;
  font-weight: 600;
}

.footer img {
  width: 26px;
  margin-left: 8px;
}
.footer p a {
  color: #1c75ba;
  letter-spacing: 4px;
}

.footer p {
  margin: 24px 0px;
}

@media screen and (max-width: 786px) {
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 21px;
  }
  .message h2 {
    margin: 5px 0px;
  }
  .flex {
    display: block;
  }
  .image {
    width: 30%;
    float: left;
    margin-right: 30px;
  }
  .message {
    width: 90%;
  }
}

@media screen and (max-width: 486px) {
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 13px;
  }
  .text-body p {
    line-height: 24px;
    font-size: 14px;
  }
  .text-body {
    margin-top: 20px;
  }
}
